.container {
  margin: 20px;
}

.nav-tabs {
  display: block;
  border: none !important;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
}

.nav-link.active {
  background-color: #007bff !important;
  color: #fff !important;
  border: none !important;
}

.nav-link:hover {
  background-color: #e9ecef;
  color: #007bff;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.align-items-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid-view .card {
  flex: 1 0 21%;
}

.list-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-view .card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-view .card-img-top {
  width: 150px;
  max-height: auto;
}

.list-view .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.item-detail-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
}

.item-detail-card {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.item-detail-header {
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.poster {
  display: block;
  margin: 0 auto 20px;
  height: auto;
  width: auto;
  max-height: 480px;
}

.item-not-found {
  text-align: center;
  font-size: 1.2rem;
  color: #dc3545;
  margin-top: 50px;
}
